*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
li{
  padding-left: 18px;
  
  font-size: 13.9px;
  font-style: inherit;
}
a{
    color: #262626;
}
.container{
    width: 100%;
    height: 54px;
    display: flex;
   justify-content: space-between;
    align-items: center;
    padding-left: 70px;
    background-color: white;
}
nav{
    display: flex;
    justify-content: start;
    padding-left: 20px;
}
.navbar-div{
     
    
     display: flex;
   
     align-items: center;
}
.logo{
    width: 108px;
    height: 23px;
   
}

.navber-lists{
    display: flex;
    justify-content: start;
   
color: #262626;
}
.actions{
    display: flex;
    justify-content: space-between;
    padding-right: 70px;

    

}
.actions span{
    width: 72.8px;
    height: 17.3333px;

}
.searchicon{
    width:29px;
    height: 30px;
}
.carticon{
    width:16px;
    height: 22px;

}
.accounticon{
    width:30px;
    height: 30px;
}
.action-list{
    display: flex;
       align-items: center;
    justify-content: space-between;
}

/*  section*/

section{
    background-image: url("images/background-img-1.jpg");
    background-size:100% ;
    width:100%;
    height:548.967px;
    display: flex;
    align-items: center;
}

.section-div{
    width: 383.983px;
    height: 336.4px;
 padding-left: 40px;
 margin-top: 30px;

}

.content{
    width:287.983px;
    height: 240.4px;
    display: flex;
    flex-direction: column;
   
    align-items: center;
    padding-left: 50px;
    justify-content: start;

}

.content h1{
    font-family: inherit;
    font-weight:600;
    line-height: l.2;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    color: #000;
}

.text{
    margin-bottom: 1.5rem;
    color: #000;
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.btn{
    width: 162.233px;
    height: 40px;
    background-color: #0067b8;;
    font-weight: 600;
    border: .125rem solid transparent;
    font-size: 1rem;
    line-height: 1;
    color: #fff ;
    padding:.625rem .75rem;
margin-bottom: 1.5rem;
margin-right: 80px;
box-sizing: border-box;
}

.prodective{
    color:#0067b8;
    font-weight: 600;
    font-family:  "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin-right: 140px;
}

/*  flex a list */

.flex-images{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.mid-lists-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mid-lists-1 li{
    padding:20px 
    
}
.mid-lists-1 img{
    padding-left: 30px;
}

.mid-lists-1 .windows{
    padding-left: 75px;
}

.mid-lists-1 .surface{
    padding-left: 55px;
}

.mid-lists-1 a{
    padding-right:  30px; 
   font-weight: 600;
    font-size: 1rem;
    color: #0067b8;
    text-decoration: underline;
    line-height: 1.5;
    font-family:  "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;;
}


/*card making */
.card-container{
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
}

.card-1  {
    width: 294px;
    height: 421.417px;
    

}
.card-2 {
    width: 294px;
    height: 421.417px;
  
    

}
.card-3 {
    width: 294px;
    height: 421.417px;
  
    

}
.card-4{
    width: 294px;
    height: 421.417px;
   
    

}
.card-4 p{
    margin-top: 30px;
}


.card-1 a{
    color: #0067b8;
    margin-right: 0;
    padding-right: 1.3125em;
    font-weight: 600;

}
.card-1 a:hover{
    text-decoration: underline;
}


.card-2 a{
    color: #0067b8;
    margin-right: 0;
    padding-right: 1.3125em;
    font-weight: 600;

}
.card-2 a:hover{
    text-decoration: underline;
}


.card-3 a{
    color: #0067b8;
    margin-right: 0;
    padding-right: 1.3125em;
    font-weight: 600;

}
.card-3 a:hover{
    text-decoration: underline;
}


.card-4 a{
    color: #0067b8;
    margin-right: 0;
    padding-right: 1.3125em;
    font-weight: 600;


}
.card-4 a:hover{
    text-decoration: underline;
}




h2{
font-size: 1.5rem;
margin-top: 48px;
font-weight: 600;
line-height: 1.2;
width: 270px;
height: 28.8px;
color: #000;
}

p{   
    color: #000;
    box-sizing: border-box;
    margin-top: 15px;
    text-align: left;
    width:270px;
    line-height: 1.5;
    height: 96px;
    font-size: 1rem;
    font-weight: 400;
}


/*new section*/

.section-contain{
    display: flex;
    justify-content: center;
    background: white;
    margin-top: 50px;
}

.background-2{
    width: 1152px;
    height: 548.567px;

}

.card{
    width:383.393px;
    height:282.8px ;
   position: absolute;
   left:130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
   
    color: #000;
    
    
}

#heading{
    font-size: 1.8125rem;
margin-bottom: 1rem;
font-family: inherit;
font-weight: 600;
line-height: 1.2;
color: #000;
}

#seaction-p{
    margin-bottom: 1.5rem;
    box-sizing: border-box;
    font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #000;
}

#section-a{
    background-color: #0067b8;
    color: #fff ;
    font-weight: 600;
border: .125rem solid transparent;
position: relative;
border-radius: .125rem;
text-decoration: none;
padding: .625rem .75rem;
font-size: 1rem;
top:-20px;
line-height: 1;
cursor: pointer;
}

.card-body{
    margin-bottom: 40px;
}


/*buisness card*/




.buisness-card{
    margin-top: 150px;
    display: flex;
    justify-content: space-evenly;
}

.buisness-card .prodect-1-text{
    padding-top: 15px;
}

.buisness-card .prodect-2-text{
    padding-top: 15px;
}

.social-media{
    display: flex;
    color: #000;
    align-items: center;
    margin-top: 1rem;
    font-weight: 400;
    font-size: 1rem;
    padding-left: 40px;

}
.social-media-lists{
    display: flex;
}


.social-media-lists img{
    width: 32px;
    height: 32px;
}

/*footer editing*/




footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #ddd;
    height: 332px;
    margin-top: 2rem;
    align-items: center;
}


footer li{
    color: #616161;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    padding: 10px;
    padding-left: 0;

}
footer li:hover{
    text-decoration: underline;
    cursor: pointer;
}
.container-1{

margin-bottom: 100px;
text-align: left;



}
.container-2{
    margin-bottom: 100px;
    text-align: left;
}
.container-3{
    text-align: left;
}
.container-4{
    text-align: left;
}
.container-5{
    text-align: left;
}

.container-6{
    margin-bottom: 40px;
    text-align: left;
}


.container-1-heading{
    color: #616161;
    font-size:15px ;
    line-height: 20px;
    font-weight: 600;
    text-align: left;

}

.container-2-heading{
    color: #616161;
    font-size:15px ;
    line-height: 20px;
    font-weight: 600;
    text-align: left;

}


.container-3-heading{
    color: #616161;
    font-size:15px ;
    line-height: 20px;
    font-weight: 600;
    text-align: left;

}


.container-4-heading{
    color: #616161;
    font-size:15px ;
    line-height: 20px;
    font-weight: 600;
    text-align: left;

}

.container-5-heading{
    color: #616161;
    font-size:15px ;
    line-height: 20px;
    font-weight: 600;
    text-align: left;
}
.container-6-heading{
    color: #616161;
    font-size:15px ;
    line-height: 20px;
    font-weight: 600;
    text-align: left;

}
.base{
 display: flex;
justify-items:start ;
padding-left: 30px;
background-color: #ddd;
}


.base a{
    font-size: 11px;
line-height: 16px;
    padding-right: 24px;
color: #616161;
padding-left: 10px;
margin-top:10px;
white-space: nowrap;
text-decoration: underline;

}
.base img{
    width: 30px;
    height: 30px;
}
.terms{
    margin-left: 600px;
}

.footer-lists{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 40px;
}

.footer-lists li{
    color: #616161;
    font-size: 11px;
    line-height: 16px;

}